body { text-align: center; font-size: 0.25em; }
h1 {  font-size: 2em; text-align: center; }
h2 {  font-size: 1.8em; text-align: center; }
.firstLevel { font-size: 1em; border: 0; white-space: normal; }
table { border-collapse: collapse; white-space: nowrap;}
/*table.firstLevel { margin-left: 150px; margin-right: 150px;}*/
th, td { border: 1px solid white; margin: 10px; padding: 10px; font-size: 2em; }
td { text-align: right; }
.normal { white-space:normal !important; width: 80px !important; max-height : 50px;}
p { text-align: justify; padding: 10px; font-size: 2em; text-align: justify; }
.r0, .r0 > .c0, .r0 > .c1, .r0 > .c2 { background-color:#3785CE; }
.r1, .r1 > .c1, .r1 > .c2 { background-color:#223392; }
.r2, .r2 > .c1, .r2 > .c2 { background-color:#818181; }
.c0 { background-color:#9999CE; }
.c1 { background-color:#5555CE; }
.c2 { background-color:#2222CE; }


html { color: white; background-color: #223392; font-family: Arial; font-size: 1.6em;}
text { stroke-width: 0;}
svg { stroke: white; font-size: 1em; fill:white; }
path { stroke-width: 6;}
.content { width:100%; }
.content > tr > td { border: none; }
.transparent { width: 0px; height: 0px; border: none;}